@use '../../styles/theme';

@mixin homeTab {
  .home-tabs {
    margin: 12px 0;
    border-radius: 10px;
    background: #f8f8f8;
    border: 1px solid #dadada;
    display: flex;
    overflow: hidden;

    button {
      flex: 1 1 0%;
      padding: 10px 4px;
      font-weight: 600;
    }

    button.active {
      background: rgba(0, 255, 149, 0.4);
    }
  }

  .collections-search-bar {
    display: flex;
    gap: 10px;

    button {
      color: theme.$gray;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 10px 10px;
      border: 1px solid theme.$gray;
      border-radius: 10px;
      // font-size: 1.05rem;
      font-weight: 600;
    }
  }

  .collections {
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;

    &, & .branch {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    & .branch {
      margin: 8px 0;
    }

    .name {
      @include theme.util-flex-middle;
      gap: 8px;
      font-weight: 500;
      padding: 0;
      
      &.bold {
        font-weight: 800;
      }
  
      .caret {
        @include theme.util-transition;
      }
  
      &.expanded {
        .caret {
          transform: rotate(90deg);
          transform-origin: center;
        }
      }
    }

    .contents {
      border-left: 1px solid #d1d1d1;
      overflow: hidden;
    }

    .items {
      margin: 5px 10px;
    }

    .item.add-btn {
      color: theme.$primary-color;
      @include theme.util-flex-middle;
      gap: 6px;

      svg {
        display: inline;
        margin: 0;
      }
    }
  }
}
