
@mixin Mulish {
  /* https://google-webfonts-helper.herokuapp.com/fonts/mulish?subsets=latin */

  /* mulish-regular - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-300 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-600 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-800 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-300italic - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 300;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-italic - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-600italic - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 600;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Mulish/mulish-v5-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

@mixin Roboto {
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto/roboto-v29-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto/roboto-v29-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto/roboto-v29-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto/roboto-v29-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}
