/* Some icons from https://css.gg */

@use '../../common/theme';

@mixin icons {
    .icon {
        &-info {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid white;
            border-radius: 40px;

            &::after, &::before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                border-radius: 3px;
                width: 2px;
                background: currentColor;
                color: white;
                left: 7px
            }
            &::after {
                bottom: 2px;
                height: 8px
            }
            &::before {
                height: 2px;
                top: 2px
            }
        }

        &-close {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid;
            border-radius: 40px;
            color: white;

            &::after, &::before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 12px;
                height: 2px;
                background: currentColor;
                transform: rotate(45deg);
                border-radius: 5px;
                top: 7px;
                left: 2px;
                color: white;
            }
            &::after {
                transform: rotate(-45deg)
            }
        }

        &-close-x {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 25px;
            height: 25px;
            padding: 5px;
            background: white;
            transition: 0.1s;

            &::after, &::before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 18px;
                height: 3px;
                top: 14px;
                background: currentColor;
                transform: rotate(45deg);
                border-radius: 5px;
                color: theme.$warning-color;
            }
            &::after {
                transform: rotate(-45deg)
            }

            &:hover {
                transform: scale(1.2);
            }
            &:focus {
                outline: none;
                border: none;
            }
        }
    }
}