/* Icons from https://css.gg */

.ssyn-icon-info {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 40px
}
.ssyn-icon-info::after,
.ssyn-icon-info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    color: white;
    left: 7px
}
.ssyn-icon-info::after {
    bottom: 2px;
    height: 8px
}
.ssyn-icon-info::before {
    height: 2px;
    top: 2px
}

.ssyn-close-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 40px;
    color: white;
}
.ssyn-close-o::after,
.ssyn-close-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px;
    color: white;
}
.ssyn-close-o::after {
    transform: rotate(-45deg)
}