@use 'animations';
@use 'icons';
@use '../../common/theme';

#ssyne-popup {
    /* Revert everything in the popup back to user-agent stylesheet */
    all: initial;
    * {
        all: revert;
    }

    /* We have to include these as mixins so that they are nested in #ssyne-popup and work properly with the all: revert */
    @include animations.animations;
    @include icons.icons;

    display: none;
    position: fixed;
    width: 300px;
    min-height: 500px;
    top: 50px;
    left: 50px;
    overflow-y: auto;
    border: 1px solid theme.$primary-color;
    border-radius: 5px;
    background: white;
    z-index: 100000;

    * {
        //font-family: 'Mulish', sans-serif;
        font-family: sans-serif;
    }

    .synonyms-div {
        .word-container {
            display: inline-block;

            &.clickable .word {
                cursor: pointer;
            }

            &.clickable .word:hover {
                color: white;
                background: theme.$primary-color;
            }
        }

        .word {
            display: inline-block;
            margin: 3px;
            padding: 2px;
            white-space: nowrap;
            background: white;
            border: 1px solid #1e90ff;
            border-radius: 4px;
            cursor: default;
        }
    }

    .header {
        text-align: center;
    }

    .header-button {
        margin: 5px;
        font-size: 15px;
        font-weight: bold;
        background: theme.$primary-color;
        color: white;
        border-radius: 50%;
        border: none;
        padding: 2px 7px;
        cursor: pointer;
    }

    .content {
        margin: 10px 25px;
    }

    .results-text {
        font-weight: bold;
        font-size: 1.1em;
    }

    .shortdef-syn::before {
        content: "Synonyms for: ";
        color: gray;
    }

    .shortdef-ant::before {
        content: "Antonyms for: ";
        color: gray;
    }

    .shortdef {
        font-weight: bold;
        border-top: 2px solid #c1c1c1;
        margin: 10px 0 5px;
        padding-top: 3px;
        font-size: 0.8em;
    }

    .connecting-text, .word-details-connecting-text {
        text-align: center;
        color: #585858;
    }

    .button {
        background: none;
        outline: none;
        border: 2px solid black;
        border-radius: 3px;
        padding: 0 5px;
        font-size: 0.8em;

        &:hover {
            border: 2px solid theme.$primary-color;
            color: theme.$primary-color;
            /*font-weight: bold;*/
        }
    }

    .word-details-hover-container {
        position: relative;
        top: 0;
        bottom: 0;
    }

    .word-details-button {
        position: absolute;
        background: theme.$primary-color;
        width: 0;
        /* cancel margin of word text span and border radius, but remain behind word text span */
        left: -5px;
        top: -3px;
        bottom: -4px;
        z-index: 99000;
        transition: 0.2s;
        border-radius: 0 10px 10px 0;
        overflow: hidden;
        cursor: pointer;

        i {
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .content:not(.word-hover-disabled) .word-container:hover .word-details-button, .word-container.details-button-open .word-details-button {
        width: 26px;
    }

    .word-details {
        display: block;
        position: absolute;
        z-index: 110000;
        background: #ffffff;
        box-shadow: inset 0 0 4px #aeaeae;
        left: 0;
        right: 0;
        height: 0;
        opacity: 0;
        transition: 0.2s;
        overflow: hidden;

        &.open {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            height: 200px;
            opacity: 1;
            overflow-y: scroll;
            padding: 15px;
        }
    }

    .word-details-content {
        display: none;
    }

    .detail summary {
        outline: none;
        cursor: pointer;
        color: #00366d;
    }

    .detail-offensive {
        color: red;
        display: none;
    }

    .detail-pronunciation, .detail-pronunciation span {
        margin: 0;
        padding: 0;
    }

    .detail-pronunciation-text {
        color: #323232;
    }

    .detail-play-button {
        text-decoration: underline;
        color: theme.$primary-color;
        user-select: none;
        cursor: pointer;
        display: none;
    }
}
