#ssyn-popup {
    display: none;
    position: fixed;
    width: 300px;
    top: 50px;
    left: 50px;
    overflow-y: auto;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    background: white;
    z-index: 100000;
}

#ssyn-popup * {
    font-family: 'Mulish', sans-serif;
}

.ssyn-synonyms-div .ssyn-word-container {
    display: inline-block;
}

.ssyn-synonyms-div .ssyn-word {
    display: inline-block;
    margin: 3px;
    padding: 2px;
    white-space: nowrap;
    background: white;
    border: 2px solid #1e90ff;
    border-radius: 4px;
    cursor: default;
}

.ssyn-word-container.ssyn-clickable .ssyn-word {
    cursor: pointer;
}

.ssyn-word-container.ssyn-clickable .ssyn-word:hover {
    color: white;
    background: dodgerblue;
}

.ssyn-header {
    text-align: center;
}

.ssyn-header-button {
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    background: dodgerblue;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 2px 7px;
    cursor: pointer;
}

#ssyn-content {
    margin: 10px 25px;
}

#ssyn-content p, #ssyn-content span {
    color: black;
}

#ssyn-results-text {
    font-weight: bold;
    font-size: 1.1em;
}

.ssyn-shortdef-syn::before {
    content: "Synonyms for: ";
    color: gray;
}

.ssyn-shortdef-ant::before {
    content: "Antonyms for: ";
    color: gray;
}

.ssyn-shortdef {
    font-weight: bold;
    border-top: 2px solid #c1c1c1;
    margin: 10px 0 5px;
    padding-top: 3px;
    font-size: 0.8em;
}

#ssyn-connecting-text {
    text-align: center;
    color: #585858;
}

/* Spinner animation from https://tobiasahlin.com/spinkit/ */

.ssyn-spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 50px auto;
}

.ssyn-double-bounce1, .ssyn-double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: dodgerblue;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.ssyn-double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.ssyn-button {
    background: none;
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 0.8em;
}

.ssyn-button:hover {
    border: 2px solid dodgerblue;
    color: dodgerblue;
    /*font-weight: bold;*/
}


@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.ssyn-word-details-hover-container {
    position: relative;
    top: 0;
    bottom: 0;
}

.ssyn-word-details-button {
    position: absolute;
    background: dodgerblue;
    width: 0;
    /* cancel margin of word text span and border radius, but remain behind word text span */
    left: -5px;
    top: -4px;
    bottom: -4px;
    z-index: 99000;
    transition: 0.2s;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    cursor: pointer;
}

.ssyn-word-details-button i {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.ssyn-word-container:hover .ssyn-word-details-button {
    width: 25px;
}

.ssyn-word-details {
    display: block;
    position: absolute;
    background: #ffffff;
    box-shadow: inset 0 0 10px 2px #aeaeae;
    left: 0;
    right: 0;
    height: 0;
    opacity: 0;
    transition: 0.2s;
    overflow: hidden;
}

.ssyn-word-details.open {
    height: 200px;
    opacity: 100%;
    overflow-y: scroll;
    padding: 15px;
}
