#app {
    width: 400px;
    margin: 20px;
    font-family: 'Mulish', sans-serif;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.control-box {
    margin: 30px 0px;
}

.switch-box > p {
    margin-bottom: 10px;
}

.section {
    text-align: center;
    border-top: 1px solid #e8e8e8;
}
.footer {
    margin-top: 5px;
    font-size: 0.9em;
    color: gray;
}

a.no-highlight {
    color: inherit;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    width: 80%;
}

input:focus {
    box-shadow: 0 0 10px #808080;
    outline: none;
    border: 1px solid #000000;
}

#dev-badge {
    color: orange;
    display: none;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    background: white;
    box-shadow: lightslategray;
}