#popup {
    position: absolute;
    width: 200px;
    top: 50px;
    left: 50px;
    border: 1px solid black;
    background: white;
    z-index: 100000;
}

.synonyms > div {
    display: inline-block;
    margin: 3px;
    padding: 1px;
    white-space: nowrap;
    border: 2px solid dodgerblue;
    border-radius: 3px;
}

.header > div {
    display: inline-block;
}

.right-button {
    float: right;
    font-size: 1.2em;
    background: dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 5px;
    cursor: pointer;
}